@tailwind base;
@tailwind components;
@tailwind utilities;
*{
font-family: "Inter", sans-serif;
scrollbar-width: thin;
    scrollbar-color: #FF1E37 #f1f1f1; 
}
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #FF1E37; 
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #FF4C4C;
  }
  
